body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: #ffffff;
  line-height: 1.5;
  margin: 0;
}
.link {
  text-decoration: none;
  color: #2e2f42;
}
.link:hover,
.link:focus {
  color: #404bbf;
}
.text {
  color: #434455;
  font-size: 16px;
  letter-spacing: 0.02em;
}
.container {
  max-width: 1158px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}
img {
  display: block;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0, 0, 0, 0);
  overflow: hidden;
}
.sub-title {
  color: #2e2f42;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
}
/*Header*/
.header {
  display: flex;
}
.header-container {
  display: flex;
}
.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  text-transform: uppercase;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: #4d5ae5;
  text-decoration: none;
}
.logo-1 {
  color: #2e2f42;
}
nav {
  display: flex;
}
.nav {
  color: #2e2f42;
  letter-spacing: 0.02em;
  font-weight: 500;
  display: flex;
  gap: 40px;
}
.contacts {
  font-weight: 400;
  font-style: normal;
  color: #434455;
  letter-spacing: 0.02em;
  text-decoration: none;
  display: flex;
}
.contacts:hover,
.contacts:focus {
  color: #404bbf;
}
.contacts-list {
  display: flex;
  gap: 40px;
}

/*Hero*/
.title-section {
  background-color: #2e2f42;
  padding-top: 188px;
  padding-bottom: 188px;
}
.title {
  color: #ffffff;
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  text-align: center;
  margin-bottom: 48px;
  width: 496px;
}
ol,
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.button {
  color: #ffffff;
  background-color: #4d5ae5;
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
  line-height: 1.5;
  letter-spacing: 0.04em;
  box-sizing: border-box;
  border: none;
  border-radius: 4px;
  padding: 16px 32px;
  width: 169px;
  height: 56px;
}
.button:hover,
.button:focus {
  background-color: #404bbf;
}
/*info*/
.info-section {
  padding-top: 120px;
  padding-bottom: 120px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
}
.info-container {
  display: flex;
}
.info-list {
  display: flex;
  gap: 24px;
}
/*team section*/
.team-section {
  background-color: #f4f4fd;
  padding-top: 120px;
  padding-bottom: 120px;
}
.team-title {
  font-weight: 500;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #2e2f42;
  text-align: center;
  display: block;
}
.team-list {
  display: flex;
  gap: 24px;
}
.team-content {
  background-color: #ffffff;
  border-radius: 0 0 4px 4px;
  text-align: center;
  padding-bottom: 32px;
}
.team-img {
  box-sizing: border-box;
}
.team-sub-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
}
/*portfolio section*/
.portfolio-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #2e2f42;
  text-align: center;
}
.portfolio-list {
  display: flex;
}
.portfolio-content {
  background-color: #ffffff;
}
.portfolio-sub-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}
.portfolio-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}
/*Footer*/
.footer {
  background-color: #2e2f42;
  padding-top: 100px;
  padding-bottom: 100px;
}
.footer-logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  text-transform: uppercase;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: #4d5ae5;
  text-decoration: none;
}
.footer-logo-one {
  color: #f4f4fd;
}
.footer-text {
  color: #f4f4fd;
  letter-spacing: 0.02em;
  width: 264px;
}
